
.broke{
	background-color: black !important;
}
.square{
	border: 1px solid;
	width: 7%;
	height: 35px;
	margin: 0px;
	display: inline-block;
}
.field-row{
	margin: 0px;
}
.field{
	border: 1px solid;
	padding: 0px;
	text-align: center;
}
.ship-single{
	background-color: red;
}
.ship-double{
	background-color: green;
}
.ship-triple{
	background-color: yellow;
}
.ship-four{
	background-color: orange;
}
.ship-five{
	background-color: blue;
}
.ship-broken{
	background-color: black;
}

.ship-hidden{
	background-color: #cac3c3;
}