.square{
	border: 1px solid;
	width: 7%;
	height: 35px;
	margin: 0px;
	display: inline-block;
}
.field{
	border: 1px solid;
	padding: 2px;
	text-align: center;
}
.ship{
	background-color: red;
}
.ship-hidden{
	background-color: #cac3c3;
}